
body {
  height: 100%;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#control_canvas {
  position: relative;
  height: 20%;
}

#map_canvas {
  position: relative;
  height: 80%;
}

@media print {
  html, body {
    height: auto;
  }

  #map_canvas {
    height: 650px;
  }
}